
@media (max-width:1100px){
    main{
        width: 90%;
    }
}

@media (max-width:850px){
    section article:last-child{
        display: none;
    }
    section article:first-child, section article:nth-child(2){
        width: 49%;
    }
}
@media (max-width:700px){
    header h1, header nav{
        width: 100%;
        text-align: center;
    }
}

@media (max-width:600px){
    section article:first-child, section article:nth-child(2){
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width:480px){
    header h1{
        margin-bottom: 20px;
    }
    header nav li{
        display: block;
        border-top: 1px solid #ccc;
    }
    header nav li:not(:first-child){
        border-left: none;
        padding-left: 0px;
        margin-left: 0px;
    }
}