
@media (max-width:600px){
    /*R {600-0}*/
    h1{
        width: 100%;
        text-align: center;
    }
    nav{
        width: 100%;
        margin-top: 20px;
    }
    nav li{
        width: 33%;
        margin-left: 0;
        text-align: center;
    }
}
@media (max-width:480px){
    /*R {480-0}*/
    nav li{
        width: 100%;
    }
}